@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #f2fbff;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: #aaa;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center {
    padding: 0;
    background: #fcfaed;
    border-image: url('border.png') 412 / 103px / 14px round;
    width: 500px;
    height: 500px;
}

.toolbox {
    padding: 25px 0;
    font: 20px "Dancing Script", serif;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.toolbox:hover {
    opacity: 1;
}

.toolbox a {
    padding: 0 20px;
}
